// inner wrapper
section {
  padding: 16px 0;
  margin-bottom: 8px;
}

.section-inner {
  width: 95%;
  margin: 0 auto;
}


// 見出し
.heading {
  color: $color-black;
  text-align: center;
  margin-bottom: 16px;

  &--level1 {
    font-size: 2.8rem;
  }
  &--level2 {
    font-size: 2.4rem;
  }
  &--level3 {
    font-size: 1.8rem;
  }
}


// text

.text {
  font-size: 1.6rem;
  text-align: center;
}

// button

.btn {
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  width: 100%;
  padding: 0.5em 1em;
  background-color: transparent;
  transition: 0.2s;

  &--round {
    border-radius: 2em;
  }

  &--primary {
    color: $color-pure-white;
    background-color: $color-green;
    box-shadow: 1px -1px 3px 1px $color-white inset,
                -1px 1px 3px 1px $color-white inset;
    &:hover {
      background-color: rgba($color-green, 0.6);
    }
  }
  
  &--cancel {
    color: $color-pure-white;
    background-color: $color-red;
    box-shadow: 1px -1px 3px 1px $color-white inset,
                -1px 1px 3px 1px $color-white inset;
    &:hover {
      background-color: rgba($color-red, 0.6);
    }
  }
  


  &--disable {
    pointer-events: none;
    color: $color-black;
    background-color: $color-white;
    box-shadow: 1px -1px 3px 1px #ddd inset,
    -1px 1px 3px 1px #ddd inset;
    opacity: 0.5;
  }

}

// ボックス
.content-box {
  padding: 2em;

  &--light-side {
    background-color: $color-light-side__background;
    box-shadow: 1px -1px 3px 1px $color-light-side__border inset,
                -1px 1px 3px 1px $color-light-side__border inset;
  }

  &--dark-side {
    background-color: $color-dark-side__background;
    box-shadow: 1px -1px 3px 1px $color-dark-side__border inset,
                -1px 1px 3px 1px $color-dark-side__border inset;
  }

  &--droid {
    background-color: $color-droid__background;
    box-shadow: 1px -1px 3px 1px $color-droid__border inset,
                -1px 1px 3px 1px $color-droid__border inset;
  }
}
