
.first-view-nav {
  padding: 40px 0;
  .section-inner {
    text-align: center;
    a {
      max-width: 450px;
    }
  }
}

.player-select {
  &__heading {
    padding: 24px 0;
  }
  &__selected-picture {
    max-width: 300px;
    margin: 0 auto 24px;
    position: relative;
    #lightsaber-dooku {
      visibility: hidden;
      position: absolute;
      top: 60%;
      left: 72%;
      transform: rotate(18deg);
      label {
        opacity: 0;
      }
      .switch {
        opacity: 0;
      }
    }
    #lightsaber-anakin {
      visibility: hidden;
      position: absolute;
      top: 81%;
      left: 22%;
      label {
        opacity: 0;
      }
      .switch {
        opacity: 0;
      }
    }
    #lightsaber-obi {
      visibility: hidden;
      position: absolute;
      top: 56%;
      left: 46%;
      transform: rotate(-128deg);
      label {
        opacity: 0;
      }
      .switch {
        opacity: 0;
      }
    }
  }
  .player-list {
    margin: 0 auto 24px;
    display: flex;
    justify-content: center;
    &__character {
      opacity: 0.5;
    }
    #dooku {
      &.active {
        opacity: 1;
      }  
    }
    #anakin {
      &.active {
        opacity: 1;
      }  
    }
    #obi {
      &.active {
        opacity: 1;
      }  
    }
  }
  &__btns {
    max-width: 600px;
    margin: 0 auto;
    a {
      margin-bottom: 20px;
    }
  }
}

.janken {
  &__heading {
    padding: 24px 0;
  }
  &__enemy {
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
    height: 150px;
  }
  &__text {
    text-align: center;
    padding: 8px;
  }
  &__myself {
    max-width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto 16px;
    button {
      width: 80%;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      outline: 0;
    }
    .more {
      visibility: hidden;
    }
  }
  .content-box {
    font-size: 1.6rem;
    max-width: 450px;
    margin: 0 auto 24px;
  }
  #dooku-obi {
    display: none;
  }
  #dooku-anakin {
    display: none;
  }
  #anakin-obi {
    display: none;
  }
  &__btns {
    max-width: 450px;
    margin: 0 auto;
    a {
      margin-bottom: 20px;
    }
  }
}