.title {
  text-align: center;
  .text {
    margin-bottom: 8px;
  }
  .ctiy {
    display: block;
    margin: 0 auto;
  }
}

.todo-select {
  #todo-options {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include mq() {
      margin: 0 auto 40px;
    }
    label {
      font-size: 1.2rem;
      margin: 0 auto;
      width: 100%;
      user-select: none;
      padding: 0 16px;
      max-width: 400px;
      background-color: rgba($color-green, 0.2);
      border-radius: 10px;
      margin-bottom: 10px;
      display: block;
      height: 40px;
      line-height: 40px;
      &.checked {
        background-color: rgba($color-green, 0.6);
      }
      input[type=checkbox] {
        transform: scale(1.5);
        margin-right: 8px;
      }
    }
  }
}

  #clear {
    font-size: 1.6rem;
    display: block;
    width: 80%;
    margin: 0 auto;
  }

.start-area {
  #create {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  @include mq() {
    margin: 0 auto 80px;
  }
}

.workout-area {
  p.text {
    margin-bottom: 8px;
  }
  #clickable-list {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    p {
      width: 300px;
      margin: 0 auto;
    }
    tr {
      font-size: 1.2rem;
      margin: 0 auto;
      width: 100%;
      user-select: none;
      padding: 0 16px;
      max-width: 400px;
      background-color: rgba($color-green, 0.2);
      border-radius: 10px;
      margin-bottom: 10px;
      display: block;
      height: 40px;
      line-height: 40px;
    }
  }
  a {
    font-size: 1.4rem;
    max-width: 400px;
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

.app-btns {
  a {
    max-width: 400px;
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 8px;
  }
}