/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'jedi';
  src: url("/janken_ogawa_08/fonts/Starjedi.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  background-color: #F7F7F7;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 16px 0;
  margin-bottom: 8px;
}

.section-inner {
  width: 95%;
  margin: 0 auto;
}

.heading {
  color: #333333;
  text-align: center;
  margin-bottom: 16px;
}

.heading--level1 {
  font-size: 2.8rem;
}

.heading--level2 {
  font-size: 2.4rem;
}

.heading--level3 {
  font-size: 1.8rem;
}

.text {
  font-size: 1.6rem;
  text-align: center;
}

.btn {
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  width: 100%;
  padding: 0.5em 1em;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn--round {
  border-radius: 2em;
}

.btn--primary {
  color: #ffffff;
  background-color: #86C833;
  -webkit-box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
          box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
}

.btn--primary:hover {
  background-color: rgba(134, 200, 51, 0.6);
}

.btn--cancel {
  color: #ffffff;
  background-color: #EB5741;
  -webkit-box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
          box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
}

.btn--cancel:hover {
  background-color: rgba(235, 87, 65, 0.6);
}

.btn--disable {
  pointer-events: none;
  color: #333333;
  background-color: #f7f7f7;
  -webkit-box-shadow: 1px -1px 3px 1px #ddd inset, -1px 1px 3px 1px #ddd inset;
          box-shadow: 1px -1px 3px 1px #ddd inset, -1px 1px 3px 1px #ddd inset;
  opacity: 0.5;
}

.content-box {
  padding: 2em;
}

.content-box--light-side {
  background-color: rgba(214, 224, 129, 0.123);
  -webkit-box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
          box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
}

.content-box--dark-side {
  background-color: rgba(226, 62, 62, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
          box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
}

.content-box--droid {
  background-color: rgba(62, 188, 226, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
          box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
}

.title {
  text-align: center;
}

.title .text {
  margin-bottom: 8px;
}

.title .ctiy {
  display: block;
  margin: 0 auto;
}

.todo-select #todo-options {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .todo-select #todo-options {
    margin: 0 auto 40px;
  }
}

.todo-select #todo-options label {
  font-size: 1.2rem;
  margin: 0 auto;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 16px;
  max-width: 400px;
  background-color: rgba(134, 200, 51, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  height: 40px;
  line-height: 40px;
}

.todo-select #todo-options label.checked {
  background-color: rgba(134, 200, 51, 0.6);
}

.todo-select #todo-options label input[type=checkbox] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 8px;
}

#clear {
  font-size: 1.6rem;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.start-area #create {
  display: block;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .start-area {
    margin: 0 auto 80px;
  }
}

.workout-area p.text {
  margin-bottom: 8px;
}

.workout-area #clickable-list {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.workout-area #clickable-list p {
  width: 300px;
  margin: 0 auto;
}

.workout-area #clickable-list tr {
  font-size: 1.2rem;
  margin: 0 auto;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 16px;
  max-width: 400px;
  background-color: rgba(134, 200, 51, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  height: 40px;
  line-height: 40px;
}

.workout-area a {
  font-size: 1.4rem;
  max-width: 400px;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.app-btns a {
  max-width: 400px;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8px;
}
/*# sourceMappingURL=style.css.map */