/* A Modern CSS Reset */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], figure, blockquote, dl, dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'jedi';
  src: url("/janken_ogawa_08/fonts/Starjedi.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  background-color: #F7F7F7;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  margin-bottom: 60px;
}

.section-inner {
  width: 95%;
  margin: 0 auto;
}

.heading {
  color: #333333;
  text-align: center;
}

.heading--level1 {
  font-size: 2.8rem;
}

.heading--level2 {
  font-size: 2.4rem;
}

.heading--level3 {
  font-size: 1.8rem;
}

.text {
  font-size: 1.6rem;
  text-align: center;
}

.btn {
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  width: 100%;
  padding: 0.5em 1em;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn--round {
  border-radius: 2em;
}

.btn--primary {
  color: #ffffff;
  background-color: #86C833;
  -webkit-box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
          box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
}

.btn--primary:hover {
  background-color: rgba(134, 200, 51, 0.6);
}

.btn--cancel {
  color: #ffffff;
  background-color: #EB5741;
  -webkit-box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
          box-shadow: 1px -1px 3px 1px #f7f7f7 inset, -1px 1px 3px 1px #f7f7f7 inset;
}

.btn--cancel:hover {
  background-color: rgba(235, 87, 65, 0.6);
}

.btn--disable {
  pointer-events: none;
  color: #333333;
  background-color: #f7f7f7;
  -webkit-box-shadow: 1px -1px 3px 1px #ddd inset, -1px 1px 3px 1px #ddd inset;
          box-shadow: 1px -1px 3px 1px #ddd inset, -1px 1px 3px 1px #ddd inset;
  opacity: 0.5;
}

.content-box {
  padding: 2em;
}

.content-box--light-side {
  background-color: rgba(214, 224, 129, 0.123);
  -webkit-box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
          box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
}

.content-box--dark-side {
  background-color: rgba(226, 62, 62, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
          box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
}

.content-box--droid {
  background-color: rgba(62, 188, 226, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
          box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
}
/*# sourceMappingURL=style.css.map */